# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# FAISS / Vector DB
# =========================
faiss_index/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/